<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Method 1 - Vue in Jinja</title>
</head>

<body>
    <!-- The id 'vm' is just for consistency - it can be anything you want -->
    <div id="vm">
        <p>{{ gg }}</p>
        <p>[[ userName ]]</p>
        <p>[[ message ]]</p>
        <input type="text" v-model="message" placeholder="edit me" />

 


        <button type="button" id = 'btn1' @click="greet1" :disabled=false>btn1</button>
        <button type="button" id = 'btn2' @click="greet2" :disabled=true>btn2</button>
        <!-- <button type="button" id='btn1' @click="disable2">開始交班</button>
        <button type="button" id='btn1' @click="disable1" disabled=[[btn2_disable_value]]>結束交班</button> -->


    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>